body {
    margin: 0;
    font-family: 'Rock Salt', cursive;
    color: seashell;
    background-color: #4B0082;
    font-size: 22px;
    text-align: left;
}
a {
    color: seashell;
  }
 
  h3,
   {
    margin: 15px;
    padding: 19px;
    font-family: "Verdana", sans-serif;
  }
  h2

   {
    margin: 20px;
    padding: 20px;
  }

  .flex-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 69px;
    background-color: rgba(12, 36, 170, 0.295);
    border-bottom: 1px solid seashell;
    align-items: center;
  }

  header img {
    height: 50px;
    padding-left: 10px;
  }
  
  nav {
    text-align: right;
    flex-grow: 1;
  }
  
  nav span {
    display: inline-block;
    padding: 20px 10px;
  }

  #name {
    padding-top: 90px;
    margin: 50px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
    align-items: left;
    text-align: left;
    line-height: 0.1px;
    padding-bottom: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
h6{
    margin: 20px;
    padding: 20px;
  }
}
  #skill{
    border: 30px;
    padding: 5px;
    margin: 80px;
    opacity: 0.9;
    width: 1200px;
    font-size: 19px;
    align-items: left;
    text-align: auto;
    color: purple;

    
      
  }

  #image img{
    border-radius:  50%;
    height: 90px;
    width: 100px;
    margin: auto;
    padding-top: 1px;
    padding-right: 30px;
    padding-bottom: 3px;
    align-items: right;
    color: seagreen;
    display: inline-block;
    float: right;
    text-align: left;
    
}
  #submit{
      float: left;
      position: fixed;
      display: block;
      top: 450px;
      left: 125px;
      padding: 0.000125rem 0.75rem;
      padding-bottom: 1px;
      padding-top: 1px;
      padding-left: 1px;
      padding-right: 1px;
      font-family: Helvetica;
      opacity: 0.5px;
  border-radius: 21px;
  background-color: #30b4a3;
      font-size: 16px;
      box-sizing: border-box;
      border-radius: 900px;
      box-shadow: 5 9 100px #443322;
  }


  
  #submitie{
    padding: 0.000125rem 0.75rem;
      padding-bottom: 1px;
      padding-top: 1px;
      padding-left: 1px;
      padding-right: 1px;
      font-family: Helvetica;
      opacity: 0.5px;
    background: rgba(12, 36, 170, 0.295);
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    float: left;
      position: fixed;
      display: block;
      top: 450px;
      left: 125px;
}

  .button{
    background-color:rgba(12, 36, 170, 0.295);;
    border: 1px solid #0088cc;
    border-radius: 1px;
    color: #ffffff;
    display: inline-block;
    font-size: 0.9375em;
    font-weight: normal;
    line-height: 1.2;
    margin-right: 0.3125em;
    margin-bottom: 0.3125em;
    padding: 0.5em 0.6875em;
    width: auto;
    float: left;
      position: fixed;
      display: block;
      top: 450px;
      left: 125px;
      padding: 0.000125rem 0.75rem;
      padding-bottom: 1px;
      padding-top: 1px;
      padding-left: 1px;
      padding-right: 1px;
      font-family: Helvetica;
      opacity: 0.5px;
  }

  .button:active,
  .button:focus,
  .button:hover{
    background-color: #005580;
    border-color: #005580;
    color: ffffff;
    text-decoration: none;
  
  }

  .button: active{
    box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15) 0 1px 0.15625em rgba(0 0 0 0.05);
    }